body{
    background-color: blue;
}
p{
    font-style: italic;
    font-size: 24px;
}
h1{
    font-size: 48px;
}
img{
    text-align: center;
}
li{
    font-weight: bold;
    font-size: 32px;
}
.image{
    text-align: center;
}